<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">

            <h1> Universtiy of California School Source Admissions API </h1>
            <p>
             Explore CA High School application, admission and enrollment data for Freshman incoming 2024 class.
            </p>
            <p class="small">
                includes data from over 1,400 public CA high schools.
            </p>
            <p> Learn more about the data source from the Universtiy of California <a href="https://www.universityofcalifornia.edu/about-us/information-center/admissions-source-school">Information Center</a></p>
        </header>
    </div>
</body>

</html>
